body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #303744;
  color: white;
}

.requirements {
  line-height: 150%;
}
.requirements a {
  color: #F58220;
  font-style: italic;
}

code {
  color: #F58220;
}