.demo {
  border: 2px seagreen solid;
}

.square {
  width: 640px;
  height: 360px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border: 1px solid red;
}

.square .animated-img {
  position: absolute;
}

.btn-container {
  text-align: center;
}

.btn {
  margin: 20px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  background: seagreen;
}
